sem_5/pythonData/lab6/task1/ex_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="migration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="component">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="displayName"/>
              <xs:element name="role">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="detects">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="detect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="condition"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rules">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="include">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="objectSet">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="pattern">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="filter"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="role"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type"/>
            <xs:attribute type="xs:string" name="context"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:anyURI" name="urlid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>